/*@media(min-width:468px){
  .container-1{
      display:flex;
      justify-content:space-between; 
    }
  }*/

body { 
    
    background-color: beige;
    color:goldenrod;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-shadow: 2px 2px #A96C0A; 
}

h2 {
    text-shadow: 2px 2px #A96C0A;
}

span {
    text-decoration: underline;
    font-weight: bold;
}

/*.container-1 div {
    padding:10px;
  }*/

/*.container-1-box{
    flex-basis: 30%;  
  }*/
  
ul.myUL {
  display: inline-block;
  text-align: left;
  
}

.custom-navbar {
  background-color: beige !important;  
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: goldenrod; 
}

.custom-navbar .nav-link:hover {
  color: #A96C0A;   
}

.accordion-button {
  color: goldenrod;
  background-color: transparent;
  border: none;
}