body { 
    background-color: beige;
    color:goldenrod;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-shadow: 2px 2px #A96C0A; 
}

h2 {
    text-shadow: 2px 2px #A96C0A;
}

.topcenter {
  text-align:center;

}

.container{
      display:flex;

    }

  .container div{
    padding:50px;
  }

.box1{
      flex-basis: 60%;  
    }

.box2{
      flex-basis: 30%;
      text-align: center;  
    }

.custom-navbar {
  background-color: beige !important;  
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: goldenrod; 
}

.custom-navbar .nav-link:hover {
  color: #A96C0A;   
}